<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ciscb" connectionString="Data Source=190.243.31.196\SS02;Initial Catalog=ciscb;Persist Security Info=True;User ID=ownerciscb;Password=corredorafusionada" />
  </connectionStrings>
  <appSettings>
    <add key="Factor" value="0,15" />
    <add key="StoredProcedureName" value="Inserta_Precio_Factor_Valores" />
    <add key="ConnectionName" value="ciscb" />
    <add key="PathToWatch" value="\\vms-bc-p017\intercmb" />
    <add key="FileName" value="tcerradh.txt" /> 
  </appSettings>
</configuration>